.landing-page-main{
  background: lightgrey;
  color: white;
}

.landing-page-x{

}

#title{
  width: inherit;
}

.card{
  box-shadow: 5px 5px 10px 10px darkgrey;
  width: 100vw;
  height: 100vh;
  border: 0;
}

.card-header{
  background: #007bff;
  color: white;
  border-radius: inherit;
}

input {
  border:1px solid;
  padding-left: 5px;
}

input:focus{
  padding: 5px;
  box-shadow: 0px 10px 3px 3px lightgrey;

}

div.add-module{
  text-align: center;
  border:1px solid black;
  width:inherit;
}

img.add-image{
  max-width: 75%;
}

.icon{
  width: 50%;
}

/*button:active{
  border-bottom-width: 4px;
  transform:translateY(4px);
}

button{
  border-bottom: 8px solid #bbb;
  outline: 0;
}*/

button:hover{
  transform:translateY(4px);
  box-shadow: 0px 3px 0px 0px darkgrey;
}

button{
  box-shadow: 0px 5px 3px 1px lightgrey;
}
