/* Global tags */
* {
  padding: 0;
  margin: 0;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(35, 31, 32);
    background: white;
}

.white-text{
  color: white;
}

/* bottom-control */

/* Boostrap overrider */

div.row{
  padding-bottom: 1%;
}
.white-text{
  color: white;
}
