.cards-submitted-list {
  width: 75%;
  position: fixed;
  right: 12.5%;
  top: 2%;
  text-align: center;
  list-style: none;
}

.card-submitted-title-container {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 5%;
  margin: 2%;
}

.card-submitted-title-container-white {
  background: white;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  padding: 5%;
  margin: 2%;
}

.cards-to-choose{
  position: absolute;
  top: 30%;
  width: calc(80vh/2);
  left:calc((100% - (80vh/2))/2);
}
